stages:
  - build

build_docs:
  image: python:3.11
  stage: build
  script:
    - pip install sphinx
    - cd docs
    - make html
  artifacts:
    paths:
      - docs/_build/html
    expire_in: 1 week
  only:
    - merge_requests
    - branches

